.back{
    margin: 10px 10px 10px 10px ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: auto;
    width:fit-content;
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: row;

}


.style{
    text-decoration: underline;
    color: #D4C37D;
    font-family: 'Oswald', sans-serif;
}

.TextContainer{
    margin-right: 40px;
    height: auto;
}

.profilePic{
    display: inline-block;
    border : 2px solid #5f4e0d;
    border-radius: 50%;
}

.ath{
    margin: 10px 10px 10px 10px ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: auto;
    width:fit-content;
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 500px;
}
.img-con{
    display: flex;
    flex-direction: column;
}

.label2{
    margin-left: 60px;
}


.sprt-btn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:10px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #D4C37D;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
  }
  .sprt-btn:hover {
    background-color: #f7fafa;
  }
  
  .use{
    height: 220px;
    padding-top: 40px ;
    padding-left: 20px; 
  }
  .sprt-btn:focus {
    border-color: #D4C37D;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
.btn-cont{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.sport{
    margin: 10px 50px 10px 60px;
    padding: 10px;
}


.sprt{
    margin: 10px 10px 10px 10px ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: auto;
    width:fit-content;
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: row;

}


.site{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.trsprt-btn{
    width: 200px;
    margin-bottom: 20px;

}

.sites{
    margin: 10px 50px 10px 60px;
    padding: 10px;
}

.sitePic{
    width: 500px;
    border-radius: 15px;

}