.flags{
    width: 400px;
    height: auto;
    margin-right: 0%;
}

.paris{
    width: 610px;
    height: auto;
    margin-left: 0%;
}

.ground{
    max-width: 150vw;
    height:100vh;
    display: flex;/* permettre de modifier l'emplacment des elements enfants */
    
       
}

.container{

    width: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drapeau{
    margin-top: 10px;
    height: 59px;
    width: 179px;
    margin-bottom: 50px;
}

.logo{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 250px;
    width: 350px;
}

.search {
        width: 100%;
        margin-top: 40px;
        height: 45px;
        border: 2px solid #D4C37D;
        padding: 15px;
        border-radius: 40px 40px 40px 40px;
        outline: none;
        color: #9DBFAF;
        size: 60px;
        margin-bottom: 20px;
      }

.buttons{
    margin-top: 20px;
    margin-bottom: 100px;
    display: grid;
    grid-auto-flow: column; /* Arrange items in rows */
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Adjust column width as needed */
    gap: 10px; /* Adjust the gap between items */
}

.tube{
    width: 2px;
    height: 36px;
}

.communication{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.social{
    width: 40px;
    height:40px;
    margin: 10px;
}


@media screen and ( min-width: 500px) {
        .paris{
            width: 25%;
            height: auto;
            margin-left: 0%;
        }
        
        .flags{
            width: 25%;
            height: auto;
            margin-right: 5%;
        }
    
        .drapeau{
            margin-top: 10px;
            height: 59px;
            width: 25%;
            margin-bottom: 50px;
        }
        
        
        
}
/* Importation via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Utilisation dans le CSS */



.Title{
    text-decoration: underline;
    color: #D4C37D;
    font-family: 'Oswald', sans-serif;
}